@charset "utf-8";

/* Custom carousel styles
---------------------------------*/

.slick-prev,
.slick-next {
    z-index: 1;
    width: 40px;
    height: 40px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.slick-slide img {
    display: inline;
}

.slick-dots {
    position: relative;
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 10px;
    color: #7CC576;
}

.slick-dots li.slick-active button:before {
    color: #7CC576;
}